.App {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

}

header {
  width: 100vw;
  display: flex;
  background: #AB2A19;
  padding-left: 20px;
}

.form {
  width: 40%;
  display: flex;
  flex-direction: column;
  background: #3AD886;
  align-self: flex-end;
  margin-right: 20px;
}